.wrapper{
    position: relative;
    section.navbar{
        width: 100%;
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    section.campaign_management{
        display: flex;
        justify-content: space-between;
        min-height: 120px;
        align-items: flex-end;
    }
}
section.campaigns_container{
    min-height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 20px;
    .greybar{
        width: 100%;
        background-color: #fff;
        position: absolute;
        height: 73px;
        top: 0;
        border-top: solid 1px #f2f3f3;
        border-bottom: solid 1px #f2f3f3;
    }
    .wrapper{
        .campaign_filter_bar{
            .campaign_filter_button{
                margin: 20px 0; 
                img{
                    display: inline;
                    margin-right: 10px;
                }
            }
        }
        .campaign_content{
            .campaign_markers{
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-top: 20px;
                padding: 0 20px;
                .list_marker{
                    // padding: 20px;
                } 
            }
        }
        .campaign_list{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              max-height: 600px;
              overflow: scroll;
            //   padding-right: 20px;
              overflow-x: hidden;
              -ms-overflow-style: none; /* IE 11 */
              scrollbar-width: none; /* Firefox 64 */
            &::-webkit-scrollbar {
                border-radius: 10px;
                height: 10px;
                scrollbar-width: none;
                width: 0px;
              }
              &::-webkit-scrollbar-thumb {
                background: #999;
                border-radius: 10px;
              }
            
              &::-webkit-scrollbar-track {
                border-radius: 10px;
              }
              .campaign_list_item{
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  justify-content: space-between;
                  padding: 25px 0;
                  border: solid 2px #f2f3f3;
                  border-radius: 5px;
                  padding: 20px;
                  margin-top: 20px;
                  &:hover{
                      border: solid 2px #2b578a;
                      cursor: pointer;
                  }
                  &:active{
                      background-color: #e2effc;
                  }
                  .campaign_name{
                      width: 20%;
                  }
                  .campaign_date{
                      width: 20%;
                      display: flex;
                      justify-content: flex-start;
                      span{
                        margin-left: 54px;
                      }
                  }
                  .campaign_client{
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    span{
                    }
                  }
                  .campaign_in_charge{
                      .profile-pic{
                          img{
                            border-radius: 50%;
                            width: 33px;
                            height: 33px;
                            margin-right: 10px;
                          }
                      }
                  }
              }
        }
    }
    &.selected{
        .campaign_filter_bar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .addcampaign{
                display: flex;
                align-items: center;
                font-size: 14px;
                span{
                    color: #2b578a;
                }
                img{
                    margin-right: 5px;
                }
            }
        }
        .campaign_markers{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 20px;
            padding: 0 80px 0 50px!important;
            .selected_state_mode{
                display: flex;
                justify-content: space-evenly;
                width: 60%;
                .list_marker{
                    width:20%;
                    display: flex;
                    justify-content: flex-start;
                    &:last-child{
                        width: 20%;
                        justify-content: flex-start;
                    }
                    // &:first-child{
                    //     width: auto;
                    // }
                }
            }
            .list_marker{
                &:first-child{
                    width: 20%;
                }
                &:last-child{
                    width: 20%;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        .campaign_list{
            .campaign_list_item{
                position: relative;
                .selected_state_mode{
                    display: flex;
                    // justify-content: space-between;
                    width: 60%;
                    .campaign_size{
                        width: 20%;
                        display: flex;
                    }
                    .campaign_format{
                        width: 5%;
                        display: flex;
                    }
                    .campaign_date{
                        width: 15%;
                        display: flex;
                    }
                    .campaign_fase{
                        width: 16%;
                        display: flex;
                        justify-content: flex-end;
                    }
                    .campaign_status{
                        width: 18%;
                        display: flex;
                        justify-content: flex-end;
                    }
                    .campaign_objective{
                        width: 25%;
                        display: flex;
                        justify-content: center;
                    }
                }
                .social_network{
                    position: absolute;
                }
                .campaign_name{
                    width: 19%;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-left: 30px;
                    h2{
                        font-size: 14px;
                    }
                }
                .campaign_in_charge{
                    margin-right: 60px;
                    width: 20%;
                    display: flex;
                    justify-content: flex-end;
                    .profile-pic{
                        img{
                            width: 28px;
                            height: 28px;
                        }
                    }
                    .name{
                        span{
                            font-size: 14px;
                        }
                    }   
                    .jobid{
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}