.wrapper{
    section.login{
        background: url('../images/3aw_login_bg.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 695px;
        min-height: 100vh;
        .login-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            .login-content{
                width: 520px;
                .greetingtext_intro{
                    img{
                        margin: 0 auto;
                    }
                    .title{
                        padding: 15px 100px 0;
                        margin-bottom: 60px;
                        h1{
                            text-align: center;
                            color: #4478bc;
                        }
                    }
                }
                form{
                    .inputbox{
                        display: flex;
                        flex-direction: column;
                        input{
                            margin: 20px 0;
                        }
                    }
                    .password_box{
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        .save{
                            input{
                                width: auto;
                            }
                            span{
                                font-size: 16px;
                                color: #003f7b;
                            }
                        }
                        .recover{
                            a{
                                font-size: 16px;
                                color: #2b578a;
                            }
                        }
                    }
                }
                .button.large{
                    margin-top: 30px;
                }
            }
        }
    }
}