.wrapper{
    section.login{
        background: url('../images/3aw_login_bg.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 831px;
        min-height: 100vh;
        font-size: 3px;
        .login-container{
            .login-content{}
        }
    }
}