@import "components/font-face";
@import "components/button";
@import "components/normalize";
@import "components/headers";
@import "components/campaign_filter_button";
@import "components/inputbox";
@import "login.scss";
@import "components/campaign_components";
@import "components/dropdown_campaign";
@import "home.scss";
@import "components/search_bar.scss";
@import "campaign_selected.scss";

.wrapper{
    width: 1433px;
    display: block;
    margin: 0 auto;
}

a, p, span, h1, h2, h3, h4{
    font-family: 'Raleway'
}