.drowpdownselect{
    display: block;
    a{
        font-size: 16px;
    }
    a.dropdown_inactive{
        color: #c3c3c3;
    }
    a.dropdown_active{
        color:#2b578a;
    }
    .dropdown_menu{
        position: absolute;
        box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.1);
        left: 0;
        width: 215px;
        border-radius: 5px;
        top: 35px;
        .dropdown_item{
            padding: 12px 95px 12px 10px;
            position: relative;
            a{
                width: 100%;
            }
            &:after{
                content: "";
                display: block;
                width: 90%;
                left:5px;
                top: 43px;
                height: 1px;
                margin: 0 5px;
                position: absolute;
                background-color: #EDEDED;
                z-index: 999;
            }
            &:last-child{
                padding-top: 12px;
                padding-bottom: 13px;
                &:after{
                    display: none;
                }
            }
            &:hover{
                background-color:#e2effc;
            }
        }
        &.active_dropdown_menu{
            display: block;
        }
        &.inactive_dropdown_menu{
            display: none;
        }
    }
}
