.inputbox{
    display: flex;
    align-items: center;
    font-size: 16px;
    width: auto;
    position: relative;
    .inputElement{
        input{
            color: #2b578a;
            width: 520px;
            padding: 20px 40px 20px 30px;
            border-radius: 5px;
            border: solid 1px #989898;
            position: relative;
            font-family: 'Raleway';
        }
    }
    .inputImage{
        position: absolute;
        right: 30px;
    }

    input[name="email"]{
        border: solid 1px #2b578a;
        border-radius: 5px;
        font-weight: bold;
        z-index: 999;
        &.input-active{
            background: url('../images/a_inputicon_focus.png');
            background-repeat: no-repeat;
            background-position: 94% center;
        }
    }
    input[name="password"][class="input-active"]{
        border: solid 1px #2b578a;
        border-radius: 5px;
        font-weight: bold;
        z-index: 999;
        &:before{
            content: ">";
        }
        &.input-active{
            background: url('../images/lock_inputicon_focus.png');
            background-repeat: no-repeat;
            background-position: 94% center;
        }
    }
}


// .focus{
//     border: solid 1px #2b578a;
//     border-radius: 5px;
//     font-weight: bold;
// }
// .left_bar{
//     width: 7px;
//     height: 3px;
//     display: inline-block;
//     background-color: #2b578a;
//     padding: 30px 0;
//     margin-right: 5px;
//     border-radius: 7px;
// }
