.search_bar{
    position: relative;
    .search_icon{
        position: absolute;
    }
    .search_input{
        input{
            border:none;
            font-weight: bold;
            font-size: 12px;
            color: #707070;
            text-align: center;
            &:focus{
                border-bottom: solid 1px #000;
            }
        }
    }
}