html(lang="en")
    head
        link(rel="stylesheet", href="css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 123
body
    .wrapper
        section.navbar
            .drowpdownselect
                .dropdown_menu_action
                    a(href="" class="dropdown_inactive") Selecionar Job
                    img(src="", alt="")
                .dropdown_menu.inactive_dropdown_menu
                    .dropdown_item
                        a(href="") Action
                    .dropdown_item
                        a(href="") Action
                    .dropdown_item
                        a(href="") Action
                    .dropdown_item
                        a(href="") Adicionar
            .search_bar
                .search_icon
                    img(src="", alt="")
                .search_input
                    input(type="text" name="searchbar" placeholder="Buscar peça") 
            .userprofile_box
                img(src="../images/profile-picture.png", alt="")
                .username
                    span Carla Basille
                    .logout
                        a(href="") sair
        section.campaign_management
            .drowpdownselect
                .dropdown_menu_action
                    a(href="" class="dropdown_inactive") Campanha
                    img(src="", alt="")
                .dropdown_menu.inactive_dropdown_menu
                    .dropdown_item
                        a(href="") Action
                    .dropdown_item
                        a(href="") Action
                    .dropdown_item
                        a(href="") Action
                    .dropdown_item
                        a(href="") Adicionar
            .button.medium
                a(href="") Adicionar
    section.campaigns_container
        .greybar
        .wrapper
            .campaign_filter_bar
                .campaign_filter_button
                    img(src="../images/filter.png", alt="")
                    a(href="") Filtros
            .campaign_content
                .campaign_markers
                    .list_marker 
                        span Nome
                    .list_marker 
                        span Data
                    .list_marker 
                        span Cliente
                    .list_marker 
                        span Responsável
                .campaign_list
                    .campaign_list_item
                        .campaign_name
                            h2 4256_FGV POSonline
                        .campaign_date
                            span 08.05.19
                        .campaign_client
                            span FGV
                        .campaign_in_charge
                            .profile-pic
                                img(src="../images/campaign_listprofile-picture.png", alt="")
                            .name
                                span Juliana Souza
                            .jobid
                                span Product Head
                    .campaign_list_item
                        .campaign_name
                            h2 4256_FGV POSonline
                        .campaign_date
                            span 08.05.19
                        .campaign_client
                            span FGV
                        .campaign_in_charge
                            .profile-pic
                                img(src="../images/campaign_listprofile-picture.png", alt="")
                            .name
                                span Juliana Souza
                            .jobid
                                span Product Head
                    .campaign_list_item
                        .campaign_name
                            h2 4256_FGV POSonline
                        .campaign_date
                            span 08.05.19
                        .campaign_client
                            span FGV
                        .campaign_in_charge
                            .profile-pic
                                img(src="../images/campaign_listprofile-picture.png", alt="")
                            .name
                                span Juliana Souza
                            .jobid
                                span Product Head
                    .campaign_list_item
                        .campaign_name
                            h2 4256_FGV POSonline
                        .campaign_date
                            span 08.05.19
                        .campaign_client
                            span FGV
                        .campaign_in_charge
                            .profile-pic
                                img(src="../images/campaign_listprofile-picture.png", alt="")
                            .name
                                span Juliana Souza
                            .jobid
                                span Product Head
                    .campaign_list_item
                        .campaign_name
                            h2 4256_FGV POSonline
                        .campaign_date
                            span 08.05.19
                        .campaign_client
                            span FGV
                        .campaign_in_charge
                            .profile-pic
                                img(src="../images/campaign_listprofile-picture.png", alt="")
                            .name
                                span Juliana Souza
                            .jobid
                                span Product Head
                    .campaign_list_item
                        .campaign_name
                            h2 4256_FGV POSonline
                        .campaign_date
                            span 08.05.19
                        .campaign_client
                            span FGV
                        .campaign_in_charge
                            .profile-pic
                                img(src="../images/campaign_listprofile-picture.png", alt="")
                            .name
                                span Juliana Souza
                            .jobid
                                span Product Head
                    .campaign_list_item
                        .campaign_name
                            h2 4256_FGV POSonline
                        .campaign_date
                            span 08.05.19
                        .campaign_client
                            span FGV
                        .campaign_in_charge
                            .profile-pic
                                img(src="../images/campaign_listprofile-picture.png", alt="")
                            .name
                                span Juliana Souza
                            .jobid
                                span Product Head
                    .campaign_list_item
                        .campaign_name
                            h2 4256_FGV POSonline
                        .campaign_date
                            span 08.05.19
                        .campaign_client
                            span FGV
                        .campaign_in_charge
                            .profile-pic
                                img(src="../images/campaign_listprofile-picture.png", alt="")
                            .name
                                span Juliana Souza
                            .jobid
                                span Product Head