html(lang="en")
    head
        link(rel="stylesheet", href="css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 123
body
    .button
        a(href="") Salvar
    .button.medium
        a(href="") adicionar
    .button.large
        a(href="") Confirmar
    .button.xlarge
        a(href="") Adicionar Campanha
    .button.red
        a(href="") Adicionar Campanha
    h1 Header h1
    h2 Header h23
    .campaign_filter_button
        a(href="#") Instagram
    .inputbox
        .left_bar
        .focus
            input(type="text" placeholder="E-mail")