html(lang="en")
    head
        link(rel="stylesheet", href="css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 123
body
    .wrapper
        section.login
            .login-container
                .login-content
                    .greetingtext_intro
                        img(src="../images/3aw_logo.png", alt="")
                        .title
                            h1 Bem-vindo<br /> ao Sistema 3AW!
                    form(action="", method="get")
                        .inputbox
                            input(class="input-inactive" type="text" name="email" placeholder="E-mail")
                            input(class="input-active" type="password" name="password" placeholder="Senha")
                        .password_box
                            .save
                                input(type="checkbox")
                                span  Salvar login e senha.
                            .recover
                                a(href="#") Recuperar senha
                    .button.large
                        a(href="") Confirmar
                    