html(lang="en")
    head
        link(rel="stylesheet", href="css/main.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 123
body
    .wrapper
        section.login
            .login-container
                .login-content
                    form(action="", method="get")
                        .inputbox
                            input(type="text")